/* font-family: "Space Grotesk", serif; */
/* font-family: "Inter", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ----Navbar Section---- */
nav {
    background: #394792;
    font-size: 18px;
    padding-top: 20px;
    font-family: "Inter", sans-serif;
}

.nav-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

nav ul {
    display: contents;
}

nav ul li {
    position: relative;
}

nav ul li a::after {
    width: 0%;
    height: 1px;
    background: #fff;
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 97.5%;
}

nav a {
    color: #fff;
}

nav .buttons a {
    font-weight: 500;
    padding: 16px 40px;
    border: 1px solid transparent;
    border-radius: 30px;
    transition: all 0.4s;
}

nav .buttons a:hover {
    border-color: rgba(255, 255, 255, 0.40);
}

.nav-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

nav .logo {
    justify-self: center;
}

nav .buttons {
    justify-self: end;
}

/* ----Banner Section---- */
#banner {
    background: #394792;
    padding: 150px 0 130px 0;
}

.banner-img {
    position: relative;
}

.banner-wrapper .banner-img img:first-child {
    position: absolute;
    width: 610px;
    left: -80px;
    top: 210px;
}

.banner-img .arrow {
    position: absolute;
    left: -60px;
    top: 10px;
}

.banner-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
}

.banner-info .title {
    max-width: 670px;
    color: #fff;
    font-size: 64px;
    font-weight: 500;
    line-height: 76.8px;
    letter-spacing: -3.2px;
    position: relative;
    font-family: "Space Grotesk", serif;
}

.banner-info .title img {
    position: absolute;
    bottom: -10px;
    right: 5px;
}

.banner-info .description {
    color: #fff;
    max-width: 554px;
    margin: 32px 0 40px 0;
    font-size: 18px;
    line-height: 30.6px;
    letter-spacing: -0.81px;
    font-family: "Inter", sans-serif;
}

.banner-info .buttons {
    display: flex;
    gap: 24px;
    font-family: "Inter", sans-serif;
}

.banner-info .buttons a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 32px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    transition: 0.4s;
}

.banner-info .buttons a:hover {
    background: #fff;
    border-color: transparent;
    color: #394792;
}

#banner .statistics {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    gap: 80px;
    margin-top: 80px;
}

#banner .statistics .item {
    position: relative;
}

#banner .statistics .item::after {
    width: 1px;
    height: 62.5px;
    background: rgba(255, 255, 255, 0.16);
    content: "";
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
}

#banner .statistics .item:last-child::after {
    display: none;
}

#banner .statistics h3 {
    font-family: "Space Grotesk", sans-serif;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}

#banner .statistics p {
    max-width: 86px;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    margin-top: 8px;
}

/* ----Management Section---- */
#management {
    padding-top: 100px;
}

#management .title {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Space Grotesk", serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 67.2px;
    position: relative;
}

#management .title img {
    width: 162px;
    position: absolute;
    bottom: 54px;
    right: 270px;
}

#management .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    margin-top: 64px;
    column-gap: 32px;
}

#management .item img {
    width: 100%;
}

#management .item h3 {
    font-family: "Space Grotesk", serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 33.6px;
    margin-top: 24px;
    color: #232323;
}

#management .item p {
    font-family: "Inter", sans-serif;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    margin-top: 16px;
}


/* ----Others Section---- */
#others {
    padding-top: 200px;
    padding-bottom: 90px;
}

#others .wrapper {
    display: grid;
    grid-template-columns: 592px 472px;
    column-gap: 117px;
}

#others img {
    width: 100%;
}

.others-info h2 {
    font-size: 44px;
    font-weight: 500;
    font-family: "Space Grotesk", serif;
    line-height: 67.2px;
    margin-bottom: 24px;
    color: #232323;
}

.others-info p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.6px;
    color: #232323;
    margin-bottom: 32px;
}

#others .card {
    border-radius: 16px;
    border: 1px solid rgba(35, 35, 35, 0.16);
    background: #FFF;
    display: grid;
    grid-template-columns: 44px auto;
    justify-content: start;
    align-items: center;
    column-gap: 16px;
    padding: 16px 0 16px 16px;
    margin-bottom: 24px;
}

#others .card:last-child {
    margin-bottom: 0;
}

#others .card img {
    width: 44px;
}

#others .card strong {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.6px;
    letter-spacing: -0.81px;
}

/* ----User Words Section---- */
#words {
    padding-top: 100px;
    padding-bottom: 130px;
    background: #F9FAFF;
}

#words .info h2 {
    color: #232323;
    font-family: "Space Grotesk", serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 67.2px;
    position: relative;
    max-width: 485px;
}

#words .info h2 img {
    position: absolute;
    bottom: -12px;
    right: 161px;
}

#words .info p {
    max-width: 558px;
    color: #232323;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    letter-spacing: -0.81px;
    margin: 32px 0 64px 0;
}

#words .wrapper-1 {
    display: grid;
    grid-template-columns: 558px 192px;
    justify-content: space-between;
    align-items: center;
}

#words .arrows {
    display: grid;
    grid-template-columns: 72px 72px;
    column-gap: 48px;
}

#words .arrows div {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#words .arrows .one {
    background: #dbe5f4;
    cursor: pointer;
}

#words .arrows .one i {
    color: #757575;
}

#words .arrows .two {
    background: #dbe5f4;
    cursor: pointer;
}

#words .arrows .two i {
    color: #757575;
}

#words .arrows div:hover {
    background: #325B97;
}

#words .arrows div:hover i {
    color: #fff;
}

#words .card-wrapper {
    display: grid;
    grid-template-columns: 588px 588px;
    column-gap: 24px;
}

#words .card {
    width: 588px;
    border-radius: 32px;
    background: #e8e6e6;
    padding: 48px;
}

#words .card .title {
    display: flex;
    gap: 16px;
    align-items: center;
}

#words .card .title {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1.08px;
}

#words .card .title span {
    display: flex;
    gap: 8px;
}

#words .card .title span i {
    color: #FFC236;
    font-size: 18px;
}

#words .card .description {
    margin-top: 24px;
    color: #757575;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    letter-spacing: -0.81px;
}

#words .card hr {
    border-width: 1px;
    margin-top: 24px;
    border-color: rgba(35, 35, 35, 0.16);
}

#words .card .profile {
    margin-top: 24px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

#words .card .profile .img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #D9D9D9;
}

#words .card .profile .user-info .name {
    color: #232323;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30.6px;
    letter-spacing: -0.81px;
}


#words .card .profile .user-info p {
    color: #757575;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    letter-spacing: -0.81px;
}

/* ----Pricing Section---- */
#pricing {
    padding-top: 100px;
    padding-bottom: 100px;
}

#pricing .title {
    color: #232323;
    font-family: "Space Grotesk", serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 67.2px;
    letter-spacing: -2.4px;
    text-align: center;
}

#pricing .description {
    color: #232323;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    letter-spacing: -0.81px;
    opacity: 0.8;
    text-align: center;
    margin-top: 32px;
}

#pricing .wrapper {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 379px);
    column-gap: 32px;
}

#pricing .card {
    width: 379px;
    border-radius: 32px;
    border: 1px solid rgba(35, 35, 35, 0.16);
    background: #FFF;
    padding: 38px 32px 32px 32px;
    transition: all 0.4s;
}

#pricing .card:hover {
    background: #325B97;
}

#pricing .card .card-title {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 30px;
    border: 1px solid rgba(35, 35, 35, 0.16);
    padding: 6px 24px 6px 20px;
}

#pricing .card:hover .card-title {
    border: 1px solid rgba(255, 255, 255, 0.16);
}

#pricing .card:hover .card-title i {
    color: #fff;
}

#pricing .card .card-title i {
    font-size: 20px;
}

#pricing .card .card-title span {
    color: #232323;
    text-align: center;
    font-family: "Space Grotesk", serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 44.8px;
    letter-spacing: -1.6px;
}

#pricing .card:hover .card-title span {
    color: #fff;
}

#pricing .card .price {
    margin-top: 34px;
}

#pricing .card .price strong {
    color: #232323;
    font-family: "Space Grotesk", serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 67.2px;
    letter-spacing: -2.4px;
}

#pricing .card:hover .price strong {
    color: #fff;
}

#pricing .card .price span {
    color: #757575;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: -1.2px;
}

#pricing .card:hover .price span {
    color: #fff;
}

#pricing .card>span {
    color: #757575;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: -0.9px;
    display: inline-block;
    margin-top: 16px;
}

#pricing .card:hover>span {
    color: #fff;
}

#pricing .card ul {
    margin-top: 40px;
    display: grid;
    grid-template-rows: repeat(5, auto);
    row-gap: 16px;
}

#pricing .card ul li {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    column-gap: 16px;
}

#pricing .card ul li span {
    color: #232323;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: -0.9px;
}

#pricing .card:hover ul li span {
    color: #fff;
}

#pricing .card .tick {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #155CB5;
    border-radius: 50%;
}

#pricing .card:hover .tick {
    background: #fff;
}

#pricing .card .tick i {
    color: #fff;
    font-size: 12px;
}

#pricing .card:hover .tick i {
    color: #155CB5;
    font-size: 14px;
}

#pricing .card ul .cross .tick {
    background: #8E8E8E;
}

#pricing .card:hover ul .cross .tick {
    background: #fff;
}

#pricing .card ul .cross span {
    color: #8E8E8E;
}

#pricing .card button {
    border: 0;
    border-radius: 100px;
    background: #325B97;
    width: 100%;
    padding: 16px 0 16px 0;
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    letter-spacing: -0.9px;
    margin-top: 48px;
}

#pricing .card:hover button {
    background: #fff;
    color: #325B97;
}

/* ----Manage Section---- */
#manage {
    padding-top: 100px;
    padding-bottom: 100px;
}

#manage .card {
    border-radius: 32px;
    background: linear-gradient(112deg, #394792 -0.65%, #070F39 107.76%);
    padding: 100px 0 104px 64px;
    position: relative;
}

#manage .card .title {
    max-width: 457px;
    color: #FFF;
    font-family: "Space Grotesk", serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 67.2px;
    letter-spacing: -2.4px;
}

#manage .card button {
    background: #fff;
    color: #394792;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.81px;
    border: 0;
    border-radius: 30px;
    padding: 18px 32px;
    margin-top: 24px;
    position: relative;
    cursor: pointer;
}

#manage .card button img:first-child {
    position: absolute;
    left: -32px;
    bottom: -40px;
}

#manage .card button img:last-child {
    width: 100px;
    position: absolute;
    top: -30px;
    right: -140px;
    transform: rotate(150deg);
}

#manage .card>img {
    position: absolute;
    right: 0;
    bottom: 0;
}